:root{
    --baseColor:rgb(177, 8, 8);
    --secondColor:rgb(228, 228, 228);
    --borderColor:rgb(49, 49, 49);
}

body{
    font-family: 'Merienda', cursive;
    width: 100%;
    background-image: url(./img/pokeball.png);
    background-size: 20%;
    display: grid;
    grid-auto-flow: row;
    margin: 0%;
    justify-items: center;

}

#navegacion{
    width: 100%;
    border-bottom: 4px solid var(--borderColor);
    background-color: var(--baseColor);
    display: grid;
    grid-auto-flow: column;
}

#divFiltros{
    width: 98%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2,15% 30%);
    margin: 0.8%;
    justify-content: space-around;
    justify-items: center;
}

.Filtro {
    background-color: var(--secondColor);
    color: rgb(44, 44, 44);
    border: var(--borderColor);
    border-radius: 10px;
    font-size: 15px;
    text-align: center
}

.select{
    width: 100%;
}

/*contenido*/

#contain{
    width: 98%;
    padding-top: 2%;
    display: grid;
    justify-items: center;
}

#contain #pokeTable{
    border: 3px solid var(--borderColor);
    border-radius: 70px;
    width: 80%;
    background-color: var(--secondColor);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.pokeCard{
    display: flex;
    width: 20%;
    border: 3px solid var(--borderColor);
    border-radius: 3%;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}
.pokeCard:hover{
    background-color: rgb(202, 55, 55);
    color: var(--secondColor);
}

.pokeCard img{
    width: 60%;
    border-radius: 50%;
    background-color: rgba(224, 228, 228, 0.776);
}

#contain #pokeDatos{
    display: none;
}


#pokeDatos{
    position: absolute;
    width: 80%;
    background-color: var(--secondColor);
    border: 5px solid var(--borderColor);
    border-radius: 37px;
    padding: 2%;
    justify-items: center;
}
#pokeDatos #p{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 70% 25%;
    align-items: center;
    justify-content: space-between;
}
#pokeDatos #datos{
    display: grid;
    grid-template-rows: 30% 50%;
    align-content: space-around;
}
#pokeDatos #principal{
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
}
#pokeDatos #otros{
    width: 30%;
    padding-left: 15%;
}
#pokeDatos #imagen{
    display: grid;
    align-items: center;
    justify-items: center;
}
#pokeDatos #descripcion{
    width: 90%;
    margin-top: 2%;
    padding: 3%;
    border: 3px ridge var(--borderColor);
    border-radius: 15px;
}

#pokeDatos .btn-close{
    width: 75px;
    margin: 2%;
    border: 3px solid var(--borderColor);
    background-color: var(--borderColor);
    border-radius: 50%;
    height: 75px;
    display: grid;
    grid-template-rows: 45% 10% 45%;
    justify-items: center;
    align-items: center;
}

.btn-close #top{
    width: 70px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: var(--baseColor);
    border: 3px solid var(--borderColor);
    height: 32px;
}
.btn-close #center{
    width: 20%;
    position: relative;
    background-color: var(--secondColor);
    color:rgb(96, 96, 97);
    border-radius: 100%;
    border: 3px solid var(--borderColor);
}
.btn-close #bottom{
    width: 70px;
    background-color: #ebebeb;
    border: 3px solid var(--borderColor);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    height: 32px;
}